# LookML Model Definition
connection: "{{ connection_name }}"

include: "/views/base/*.base.view.lkml"
include: "/views/curated/*.view.lkml"

# Explores
{% for view in views %}
explore: {{ view.view_name }} {
  label: "{{ view.view_name | replace('_', ' ') | title }}"
  description: "Certified {{ view.view_name }} explore."
}
{% endfor %}

